/* Hero Section Styles */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000000;
  color: white;
  padding: 20px;
  position: relative; /* For positioning the live background */
  overflow: hidden; /* Hide background overflow */
}

/* Live animated background */
.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 50%, rgba(0, 123, 255, 0.6), rgba(0, 0, 0, 0) 60%);
  transition: background 0.2s ease;
  pointer-events: none;
  z-index: -1; /* Ensure it stays behind the content */
}

.hero-content {
  text-align: center;
  max-width: 80%;
  z-index: 1; /* Content stays on top of background */
}

.hero-title {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.typewriter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%; /* Full width for proper centering */
}

.hero-description {
  margin-top: 20px;
  font-size: 1.5rem;
}

.hero-buttons {
  margin-top: 30px;
}

.hero-buttons .btn {
  margin: 10px;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border: 2px solid #007bff;
  transition: background-color 0.3s;
  border-radius: 50px; /* Makes the buttons round */
}

.primary-btn {
  background-color: #007bff;
}

.secondary-btn {
  background-color: transparent;
}

.btn:hover {
  background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .hero-title {
    font-size: 3.125rem;
  }

  .hero-description {
    font-size: 1.2rem;
  }

  .hero-buttons .btn {
    padding: 8px 18px;
  }
  
  .hero {
    height: 100vh;
    width: 100vw;
  }
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 3rem;
  }

  .hero-description {
    font-size: 1rem;
  }

  .hero-buttons .btn {
    padding: 6px 16px;
  }
  
  .hero-buttons {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }
  .hero {
    height: 100vh;
  }
}

@media (max-width: 480px) {
  .hero {
    flex-direction: column;
    padding: 10px;
    height: auto;
  }

  .hero-title {
    font-size: 1.5rem;
  }

  .hero-description {
    font-size: 0.9rem;
  }

  .hero-buttons .btn {
    padding: 5px 14px;
  }
  .hero-buttons {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }
  .hero {
    height: 100vh;
  }
}

/* Responsive Typewriter Text */
.typewriter-container h1, 
.typewriter-container span {
  font-size: 2rem; /* Default font size for larger screens */
}

/* Adjustments for medium screens */
@media (max-width: 768px) {
  .typewriter-container h1, 
  .typewriter-container span {
    font-size: 2rem; /* Smaller font size for tablets */
  }
}

/* Adjustments for small screens */
@media (max-width: 480px) {
  .typewriter-container h1, 
  .typewriter-container span {
    font-size: 1.5rem; /* Smaller font size for mobile devices */
  }
}
